<div class="jumbotron">
  <p class="lead">
    <img src="images/aero.png" style="width: 500px; height: 200px;" alt="I'm Yeoman"><br>
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Músicas!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  Aerosmith é uma banda norte-americana de rock, por vezes referida como "The Bad Boys from Boston"  e "A Maior Banda de Rock and Roll da América"  . Seu estilo, enraizado em um hard rock baseado no blues,    , também incorpora elementos do pop  , heavy metal  e rhythm and blues  , e inspirou diversos artistas subsequentes como os Guns N' Roses.  A banda foi formada em Boston, Massachusetts, em 1970. O guitarrista Joe Perry e baixista Tom Hamilton, originalmente integrantes de uma banda chamada Jam Band, se encontraram com o vocalista Steven Tyler, o baterista Joey Kramer e o guitarrista Ray Tabano e formaram o Aerosmith. Em 1971, Tabano foi substituído por Brad Whitford, e a banda começou a atrair seguidores em Boston.
</div>
