<li>
  <h1>Álbuns de estúdio</h1>
  <ol>
    Aerosmith (1973)
  </ol>
  <ol>
    Get Your Wings (1974)
  </ol>
  <ol>
    Toys in the Attic (1975)
  </ol>
  <ol>
    Rocks (1976)
  </ol>
  <ol>
    Draw the Line (1977)
  </ol>
  <ol>
    Night in the Ruts (1979)
  </ol>
  <ol>
    Rock in a Hard Place (1982)
  </ol>
  <ol>
    Done with Mirrors (1985)
  </ol>
  <ol>
    Permanent Vacation (1987)
  </ol>
  <ol>
    Pump (1989)
  </ol>
  <ol>
    Get a Grip (1993)
  </ol>
  <ol>
    Nine Lives (1997)
  </ol>
  <ol>
    Just Push Play (2001)
  </ol>
  <ol>
    Honkin' on Bobo (2004)
  </ol>
  <ol>
    Music from Another Dimension! (2012)
  </ol>
</li>
